﻿<div class="clearfix row col-lg-4">
    <div class="view-header">
        <add-button create="create()"></add-button>
        <search-bar></search-bar>
    </div>
    <div class="clearfix"></div>
    <div class="mt20">
        <table class="table table-striped responsive-utilities jambo_table bulk_action" st-table="categories" st-safe-src="tableRowCollection">
            <thead>
                <tr class="headings">
                    <th st-sort="Name">Category Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!loadingData && categories.length == 0">
                    <td colspan="99">
                        <no-record></no-record>
                    </td>
                </tr>
                <tr ng-if="loadingData">
                    <td colspan="99">
                        <loading-spinner label="Fetching data..."></loading-spinner>
                    </td>
                </tr>
                <tr ng-repeat="row in categories">
                    <td>{{row.Name}}</td>
                    <td class="text-center">
                        <a class="btn btn-default" ng-click="create(row)"><i class="flaticon-edit"></i> View</a>
                        <a class="btn btn-danger" ng-click="archive($index, row)"><i class="flaticon-remove"></i> Archive</a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>