﻿<div class="left_col">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li class="sm-active menu-item tooltip-nav" id="menuItems">
                <a ng-href="#/">
                    <i class="fa fa-book"></i>
                    <span class="tooltiptext tooltip-right">Items Management</span>
                    <div class="menu-label">Items</div>
                </a>
            </li>
            <li class="sm-active menu-item tooltip-nav" id="menuCategories">
                <a ng-href="#/category">
                    <i class="fa fa-tags"></i>
                    <span class="tooltiptext tooltip-right">Category Management</span>
                    <div class="menu-label">Categories</div>
                </a>
            </li>
        </ul>
    </div>
</div> 